@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 44 42.8571% 93.1373%;
        --foreground: 28.5714 16.5354% 24.902%;
        --card: 42 100% 98.0392%;
        --card-foreground: 28.5714 16.5354% 24.902%;
        --popover: 42 100% 98.0392%;
        --popover-foreground: 28.5714 16.5354% 24.902%;
        --primary: 30 33.871% 48.6275%;
        --primary-foreground: 0 0% 100%;
        --secondary: 40.6452 34.8315% 82.549%;
        --secondary-foreground: 28.9655 18.7097% 30.3922%;
        --muted: 39 34.4828% 88.6275%;
        --muted-foreground: 32.3077 18.4834% 41.3725%;
        --accent: 42.8571 32.8125% 74.902%;
        --accent-foreground: 28.5714 16.5354% 24.902%;
        --destructive: 9.8438 54.7009% 45.8824%;
        --destructive-foreground: 0 0% 100%;
        --border: 40 31.4286% 79.4118%;
        --input: 40 31.4286% 79.4118%;
        --ring: 30 33.871% 48.6275%;
        --chart-1: 30 33.871% 48.6275%;
        --chart-2: 31.3846 29.9539% 42.549%;
        --chart-3: 33.6842 32.948% 33.9216%;
        --chart-4: 29.1176 30.9091% 56.8627%;
        --chart-5: 30 33.6842% 62.7451%;
        --sidebar: 39 34.4828% 88.6275%;
        --sidebar-foreground: 28.5714 16.5354% 24.902%;
        --sidebar-primary: 30 33.871% 48.6275%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 42.8571 32.8125% 74.902%;
        --sidebar-accent-foreground: 28.5714 16.5354% 24.902%;
        --sidebar-border: 40 31.4286% 79.4118%;
        --sidebar-ring: 30 33.871% 48.6275%;
        --font-sans: Libre Baskerville, serif;
        --font-serif: Lora, serif;
        --font-mono: IBM Plex Mono, monospace;
        --radius: 0.25rem;
        --shadow-x: 2px;
        --shadow-y: 3px;
        --shadow-blur: 5px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.12;
        --shadow-color: hsl(28 13% 20%);
        --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-sm:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow-md:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 2px 4px -1px hsl(28 13% 20% / 0.12);
        --shadow-lg:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 4px 6px -1px hsl(28 13% 20% / 0.12);
        --shadow-xl:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 8px 10px -1px hsl(28 13% 20% / 0.12);
        --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.3);
        --tracking-normal: 0em;
        --spacing: 0.25rem;
    }

    .dark {
        --background: 25 15.3846% 15.2941%;
        --foreground: 39 34.4828% 88.6275%;
        --card: 25.7143 13.7255% 20%;
        --card-foreground: 39 34.4828% 88.6275%;
        --popover: 25.7143 13.7255% 20%;
        --popover-foreground: 39 34.4828% 88.6275%;
        --primary: 30 33.6842% 62.7451%;
        --primary-foreground: 25 15.3846% 15.2941%;
        --secondary: 24.7059 12.9771% 25.6863%;
        --secondary-foreground: 39 34.4828% 88.6275%;
        --muted: 27.2727 12.6437% 17.0588%;
        --muted-foreground: 38.4 17.7305% 72.3529%;
        --accent: 24.4444 17.8808% 29.6078%;
        --accent-foreground: 39 34.4828% 88.6275%;
        --destructive: 9.8438 54.7009% 45.8824%;
        --destructive-foreground: 0 0% 100%;
        --border: 24.7059 12.9771% 25.6863%;
        --input: 24.7059 12.9771% 25.6863%;
        --ring: 30 33.6842% 62.7451%;
        --chart-1: 30 33.6842% 62.7451%;
        --chart-2: 29.1176 30.9091% 56.8627%;
        --chart-3: 30 33.871% 48.6275%;
        --chart-4: 31.3846 29.9539% 42.549%;
        --chart-5: 33.6842 32.948% 33.9216%;
        --sidebar: 25 15.3846% 15.2941%;
        --sidebar-foreground: 39 34.4828% 88.6275%;
        --sidebar-primary: 30 33.6842% 62.7451%;
        --sidebar-primary-foreground: 25 15.3846% 15.2941%;
        --sidebar-accent: 24.4444 17.8808% 29.6078%;
        --sidebar-accent-foreground: 39 34.4828% 88.6275%;
        --sidebar-border: 24.7059 12.9771% 25.6863%;
        --sidebar-ring: 30 33.6842% 62.7451%;
        --font-sans: Libre Baskerville, serif;
        --font-serif: Lora, serif;
        --font-mono: IBM Plex Mono, monospace;
        --radius: 0.25rem;
        --shadow-x: 2px;
        --shadow-y: 3px;
        --shadow-blur: 5px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.12;
        --shadow-color: hsl(28 13% 20%);
        --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-sm:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow-md:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 2px 4px -1px hsl(28 13% 20% / 0.12);
        --shadow-lg:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 4px 6px -1px hsl(28 13% 20% / 0.12);
        --shadow-xl:
            2px 3px 5px 0px hsl(28 13% 20% / 0.12),
            2px 8px 10px -1px hsl(28 13% 20% / 0.12);
        --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.3);
    }
}

@layer base {
    * {
        @apply border-border;
        user-select: none;
    }
    body {
        @apply bg-background text-foreground;
    }
    ::selection {
        color: hsl(var(--background));
        background: hsl(var(--muted-foreground));
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        appearance: textfield;
    }
}
